dist/
node_modules/
logs/
package-lock.json
yarn.lock
.docker.env
*.log
.env
.env.f1
docker-compose.yml
deployF1.sh
Dockerfile
dockerfile
run-container.sh
.dockerignore
.env.deployF1
deploy.sh
*.sh
.env.dev
.vscode
.nvmrc
ngrok
coverage/